.chat_icon {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
}
.icona {
   height: 70px;
   width: 70px;
   cursor: pointer;
   transition: 0.3s;
 }
 .icona:hover {
  transform: scale(1.2);
 }
.chat_place {
    position: fixed;
    bottom: 90px; 
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.text {
    resize: none;
    height: 80px;
    margin-bottom: 5px;
}
